html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #202020;
  color: #6a7b76;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  color: #beb0a7;
  text-align: center;
  text-transform: uppercase;
}

.header-navigation__link {
  margin: 10px;
  padding: 5px 15px;
  border-radius: calc(29px / 2);
  font-weight: bold;
  text-decoration: none;
  color: #6a7b76;
  background-color: #beb0a7;
}

.main__header {
  text-align: center;
}

.main__heading {
  color: #beb0a7;
  text-align: center;
  text-transform: uppercase;
}

.main__image {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}

.article {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #6a7b76;
  border-radius: 10px;
}

.article__heading {
  color: #beb0a7;
  text-transform: uppercase;
}

.article__link {
  font-weight: bold;
  color: #6a7b76;
}

.footer__link {
  font-weight: bold;
  color: #6a7b76;
}

.footer__text {
  text-align: center;
}
